<div class="container">
  <ul class="nav navbar-nav">
    <li *ngIf="!localStorage.getItem(global.CurrentUser)" routerLinkActive="active">
      <a routerLink="/bookStore/myAccount/login">Login</a>
    </li>
    <li *ngIf="!localStorage.getItem(global.CurrentUser)" routerLinkActive="active">
      <a routerLink="/bookStore/myAccount/register">Register</a>
    </li>
    <li *ngIf="localStorage.getItem(global.CurrentUser)" routerLinkActive="active">
      <a (click)="logout()">LogOut</a>
    </li>

  </ul>
</div>