
  .check-mark-wrapper{
    margin:0;
    padding:0;
    position:absolute;
    text-align:center;
    margin:auto;
    padding:5rem 10% 4rem 16%;
    top: 80%;
    left: 50%;
  }
  .check-mark-wrapper span{
    position:relative;
    width: 3rem;
      height: .7rem;
      background: transparent;
      display: block;
      border-radius: 30px;
      transform: rotate(0);
      transition: all .3s;
      transform: rotate(33deg);
      position: relative;
    filter: drop-shadow(20px 10px 10px rgba(0, 0, 0, .2));
  }
  .check-mark-wrapper span:last-child{
      width: 5rem;
      height: .7rem;
      display: block;
      border-radius: 30px;
      transform-origin: top;
      transition: all .3s;
      transform: translateY(-1.7rem) translateX(1rem)rotate(-56deg);
  }
  .check-mark-wrapper span::before{
    content: ' ';
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    background:#4CAF50;;
    border-radius:30px;
    animation-delay:.65s;
    animation-duration:.3s;
    animation-fill-mode:forwards;
    animation-name:getFullWidth;
  }
  .check-mark-wrapper span:last-child::before{
    animation-delay:.85s;
  }
  
  @keyframes getFullWidth{
    0%{
      width:0;
    }
    100%{
      width:100%;
    }
  }
