<div id="container">
    <div *ngIf="product" class="productDetailsContainer col-md-offset-3 col-md-6 row">
        <div class="col-md-5 right">
            <div class="imageContainer col-md-12">
                <img src="{{product.imageLinks.smallThumbnail}}">
            </div>
            <button class="btn-outline-primary button col-md-offset-1 col-md-10" *ngIf="localStorage.getItem(global.CurrentUser)" (click)="AddToCart()">Add To Cart</button>
            <button class="button col-md-offset-1 col-md-10" (click)="preview()">Preview</button>
            <app-tick *ngIf="showAnimation"></app-tick>

        </div>
        <div class="scrollbar" id="style-2">
            <div id="details" class="col-md-12 force-overflow">
                <dl>
                    <dt class="col-md-5">Title:</dt>
                    <dd class="col-md-7">{{product.title}}&nbsp;</dd>
                    <dt class="col-md-5">Subtitle:</dt>
                    <dd class="col-md-7">{{product.subtitle}}&nbsp;</dd>
                    <dt class="col-md-5">Authors:</dt>
                    <dd *ngFor="let author of product.authors;let i=index" [ngClass]="{'col-md-offset-5':i>0,'col-md-7':true}">{{author}}&nbsp;</dd>
                    <dd class="col-md-7" *ngIf="!product.authors||product.authors.length==0">&nbsp;</dd>
                    <dt class="col-md-5">Publisher:</dt>
                    <dd class="col-md-7">{{product.publisher}}&nbsp;</dd>
                    <dt class="col-md-5">PublishedDate:</dt>
                    <dd class="col-md-7">{{product.publishedDate| date : 'shortDate'}}&nbsp;</dd>
                    <dt class="col-md-5">Description:</dt>
                    <dd class="col-md-7">{{product.description}}&nbsp;</dd>
                    <dt class="col-md-5">Page Count:</dt>
                    <dd class="col-md-7">{{product.pageCount}}&nbsp;</dd>
                </dl>
            </div>
        </div>

    </div>