/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI";
    font-size:16px;
}
.button{
    background-color: white;
    border: solid 2px #2196F3;
    border-radius: 25px;
    padding: 2%;
    display: block;
    color: gray;
}
.button:hover{
    background-color:#2196F3 ;
}
@media only screen and (max-width: 1500px) {

    h3 { 
       font-size: 15px; 
      
    }
    h4{
        font-size: 12px;
    }
    dl *{
        font-size: 15px;
    }
 
 }
 /*====================scroll-bar====================*/

#header {
    margin-bottom: 20px;
}

.scrollbar {
    height: 100%;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ff2946;
}

